.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;   
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
    margin-bottom: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
    margin-left: 0;
}

.rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 260px;
}


.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-left: 5%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}


@media(max-width: 1000px) {
    .conteudoPrincipal-cursos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    
    .conteudoPrincipal-cursos-link {
        width: 32%;
        margin-bottom: 1%;
        
    }
    
     .conteudoPrincipal-cursos-link:nth-child(3n) {
        margin-right: 0;
        margin-left: auto;
    }
    
    .conteudoPrincipal-cursos-link:nth-child(3n+1) {
        margin-left: 0;
        margin-right: auto;
    } 

     .conteudoPrincipal-cursos-link:nth-child(3n-1) {
        margin-right: auto;
        margin-left: auto;
    }

}

/* Mobile */

@media(max-width: 768px) {

    .cabecalhoPrincipal-nav {
        flex-direction: column;
    }

    .cabecalhoPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;

    }

    .conteudoPrincipal-cursos {
        flex-direction: column;
    }

    .conteudoPrincipal-cursos-link {
        width: 100%;
    }

    .rodapePrincipal-navMap-list {
        height: auto;
    }

    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
        text-align: center;
    }

    .rodapePrincipal-patrocinadores-list {
        margin: 0;
        width: 100%;
    }

    .rodapePrincipal-contatoForm {
        width: 100%;
    }

    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }
   
    .cabecalhoPrincipal-nav-link-app {
        order: -1;
    }

}   